<launch>

  <arg name="world_name" default="worlds/empty.world" />
  <arg name="model" default="myagv" />
  <arg name="spawn_x" default="0.0"/>
  <arg name="spawn_y" default="0.0"/>
  <arg name="spawn_z" default="0.0"/>
  <arg name="spawn_yaw" default="0.0"/>


  <param name="robot_description" command="xacro $(find aibot_sim)/urdf/chassis/$(arg model)/chassis.urdf.xacro" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -model car -x $(arg spawn_x) -y $(arg spawn_y) -z $(arg spawn_z) -Y $(arg spawn_yaw) -param robot_description " />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="100.0" />
  </node>

</launch>
