<launch>

  <arg name="world_name" default="worlds/empty.world" />

  <param name="robot_description" command="xacro $(find aibot_sim)/urdf/chassis/$(env AIBOT_BASE)/chassis.urdf.xacro" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -model car -param robot_description" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="100.0" />
  </node>

</launch>
